.about-us-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-about-us-header {
  margin-top: 100px;
  margin-bottom: 150px;
}

app-info-section {
  margin-top: 100px;
  margin-bottom: 150px;
}

app-video-section {
  margin-top: 100px;
  margin-bottom: 150px;
}
