.about-us-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-about-us-header {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
}

app-info-section {
  margin-bottom: 150px;
}

app-values-section {
  margin-bottom: 150px;
}

app-video-section {
  margin-top: 100px;
}

app-team-component {
  margin-top: 300px;
  margin-bottom: 500px;
}
