@use "src/styles/colors" as *;

.faq-title {
  color: $brand-color-primary;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

app-faq-item {
  display: block;
  margin-bottom: 20px;
}
