<div class="container">
  <div class="event-calendar-wrapper">
    <div class="event-calendar-inner">
      <div class="header"> Upcoming Deadlines </div>
      <div class="events-container" *ngIf="hasUpcoming; else noEvents">
        <app-event-box
          *ngFor="let event of events; let i = index"
          [event]="event"
          [isNext]="i === 0"
        >
        </app-event-box>
      </div>
      <ng-template #noEvents>
        <div class="no-events">
          <span>No Upcoming Deadlines</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
