@use "colors" as *;
@use "fonts" as *;
@use "breakpoints" as *;

.our-works-mobile-container {
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 4rem;
  .text {
    font-family: $font-primary;
    font-size: $font-size-xxl;
    font-weight: $font-weight-bolder;
    margin-bottom: 1rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @include respond-to("mobile") {
      font-size: $font-size-xl;
    }
  }

  .gallery-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .gallery-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .gallery-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;

    &.active {
      opacity: 1;
      transform: scale(1);
      z-index: 2;
    }

    &.prev,
    &.next {
      opacity: 0.5;
      transform: scale(0.7);
      z-index: 1;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      object-fit: cover;
    }
  }
}
