<div class="definition-box-container">
  <div class="top-row">
    <div class="logo-box">
      <img
        src="icons/definition-box-icon.svg"
        alt="Logo"
        class="logo"
        width="29.08"
        height="29.08"
      />
    </div>
    <div class="title-box">
      <div class="title">All Things Design</div>
      <div class="bracket1">[</div>
      <div class="noun">noun.</div>
      <div class="bracket2">]</div>
    </div>
  </div>
  <div class="bottom-row">
    <div class="definition-box">
      <p class="definition">
        "A student-led creative agency at <span class="uc-davis">UC Davis,</span
        ><br class="mobile-break" />
        specializing in
        <span class="after-in">multi-disciplinary design."</span>
      </p>
    </div>
  </div>
</div>
