<div class="join-us-page">
  <div class="background-container">
    <img src="backgrounds/join-us-main-background.png" alt="" class="main-background">
    <div class="roles-section">
      <img src="backgrounds/join-us-roles-background.png" alt="" class="roles-background">
      <div class="roles-container">
        <app-open-roles-list [openRoles]="openRoles"></app-open-roles-list>
      </div>
    </div>
  </div>
  
  <div class="header-container">
    <app-join-us-header></app-join-us-header>
  </div>
</div>
