<div class="join-us-page">
  <!-- Main background with overlaid roles background -->
  <div class="background-container">
    <img src="images/join-us-main-background.svg" alt="" class="main-background">
    <img src="images/join-us-roles-background.svg" alt="" class="roles-background">
  </div>
  
  
  <div class="header-container">
    <app-join-us-header></app-join-us-header>
  </div>
  
  <div class="roles-container">
    <app-open-roles-list [openRoles]="openRoles"></app-open-roles-list>
  </div>
</div>
