

@use "colors" as *;
@use "fonts" as *;
@use "breakpoints" as *;

.toggle-switch {
  position: relative;
  display: flex;
  border: 1px solid $brand-color-black;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
  height: 65px; // Desktop height
  aspect-ratio: 8/1;

  @include respond-to('tablet') {
    height: 55px;
    aspect-ratio: 7/1;
  }

  @include respond-to('mobile') {
    height: 45px;
    aspect-ratio: 6/1;
    border-radius: 8px;
  }
}

.toggle-switch button {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1;
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-base; // Desktop
  color: $brand-color-black;
  cursor: pointer;
  transition: color 0.3s;

  @include respond-to('tablet') {
    font-size: $font-size-base-sm;
  }

  @include respond-to('mobile') {
    font-size: $font-size-sm;
  }
}

.toggle-switch button.selected {
  color: $brand-color-white;
}

.highlight {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  background-color: $brand-color-primary;
  transition: left 0.3s;
  border-radius: 10px;

  @include respond-to('mobile') {
    border-radius: 8px;
  }
}

.toggle-switch.students .highlight {
  left: calc(50% + 5px);
}
