@use "src/styles/colors" as *;
@use "src/styles/fonts" as *;
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 131px;
  background-color: $brand-color-black;
  position: sticky; // Added for sticky behavior
  top: 0; // Stick to the top
  z-index: 1000; // Ensure it's above other content
}
.home {
  display: flex;
  align-items: center;
}

.logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 75px;
  margin-right: 0;
}
.atd-text {
  margin-left: -8px;
  color: $brand-color-white;
  font-size: $font-size-header-xs;
  font-weight: $font-weight-regular;
  font-family: $font-primary;
}
.route-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px; /* Uniform gap between all buttons */
  align-items: center;
  margin-left: auto;
  padding-right: 75px; /* Distance from the right edge */
}
.button1 {
  margin-right: 5px;
}
.button2 {
  margin-right: 20px;
}
