@use "src/styles/colors" as *;
@use "src/styles/fonts" as *;

.event-box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $brand-color-white;
  padding: 5% 5%;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 64px 18px 0 rgba(0, 0, 0, 0), 0 41px 16px 0 rgba(0, 0, 0, 0.01),
    0 23px 14px 0 rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.09),
    0 3px 6px 0 rgba(0, 0, 0, 0.1);

  width: 550px; 
  aspect-ratio: 10 / 7;
  box-sizing: border-box;
}

.event-box-container.next-event {
  border-color: $brand-color-primary;
}
.top-row {
  display: flex;
  justify-content: space-between;
}

.date-box {
  display: flex;
  flex-direction: column;
  color: $brand-color-primary;
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  .day {
    font-size: $font-size-lg;
  }
  .month {
    font-size: $font-size-base;
  }
}

.logo-box {
  .logo {
    height: auto;
    width: 53.08px;
  }
}

.bottom-row {
  .detail-box {
    .title-time,
    .location {
      height: 30px;
      font-family: $font-secondary;
      font-size: $font-size-sm;
      font-weight: $font-weight-regular;
      margin: 0;
    }
  }
}
