<!-- 
  EventBoxComponent Structure:
  - flexbox containing top-row and bottom-row
    - flexbox containing left and right box
    - flexbox containing the description of the event
-->
<div class="event-box-container" [class.next-event]="isNext">
  <div class="top-row">
    <div class="date-box">
      <div class="day">{{ event.day }}</div>
      <div class="month">{{ event.month }}</div>
    </div>
    <div class="logo-box">
      <img src="images/ATD-events-logo.svg" alt="Event Logo" class="logo" />
    </div>
  </div>
  <div class="bottom-row">
    <div class="detail-box">
      <p class="title-time">{{ event.title + " @" + event.time }}</p>
      <p class="location">{{ event.location }}</p>
    </div>
  </div>
</div>
