@use "src/styles/fonts" as *;
.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 150px;
}
.title {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  margin-bottom: 0.5rem;
}
.description {
  font-family: $font-secondary;
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  width: 22rem;
}
