.hero-section {
  /* Adjusted height and width for better scaling */
  height: 605px;
  width: 1516px;
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  color: white; // text color
  background-color: black; /* Set solid black background */
  position: relative;
  padding-left: 50px; /* Add left padding to give space */

  /* Positioning and resizing the SVG file */
  .hero-image {
    position: absolute;
    bottom: -25px; /* Align with the bottom of the hero section */
    left: 0; /* Align with the left side of the hero section */
    width: 100%; /* Make the image take the full width of the background */
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* Image above background but behind text */
  }

  .hero-content {
    position: relative; // this code refers to the text and button
    z-index: 2;
    text-align: left; /* Align text to the left */
    max-width: 80%;
    padding: 50px 20px 50px 150px; /* Increase padding to move text (clockwise) */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;

    h1,
    p {
      margin: 0.5rem 0;
      font-weight: bold;
    }

    h1 {
      font-size: 2.5rem;
    }

    p {
      // Pre-title text styling
      font-size: 1.5rem; /* Make the pre-title larger */
      margin-bottom: 1.5rem;
      line-height: 1.4;
    }

    .pre-title {
      margin-bottom: 0rem; /* Remove spacing between pretitle and title */
      margin-top: 4rem; /* Push the pretitle farther down */
      font-size: 1.8rem;
      font-weight: normal; /* Remove bold font */
    }

    button {
      margin-top: 2rem; //space between button and title
      padding: 8px 16px;
      font-size: 1rem;
      background-color: black; /* Set black background */
      color: white;
      border: 1px solid white; /* Add white border */
      border-radius: 32px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #333; /* Darker black on hover */
      }
    }
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .hero-content {
      text-align: left;
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.2rem; /* Adjust pre-title for mobile */
      }
      button {
        font-size: 0.9rem;
        padding: 6px 12px;
      }
    }

    .hero-image {
      max-width: 80%; /* Increase size for smaller screens */
    }
  }
}
