@use "colors" as *;
@use "fonts" as *;
.hero-section {
  /* Flexible height based on content with minimum height */
  min-height: 400px; /* Minimum height for mobile/small screens */
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $brand-color-white;
  background-color: $brand-color-black;
  position: relative;
  overflow: hidden; /* Ensure background image doesn't overflow */

  /* Positioning and resizing the SVG file with aspect-fill */
  .hero-image {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Aspect-fill: image covers entire container */
    object-position: center; /* Center the image within the container */
  }

  .hero-content {
    text-align: left; /* Align text to the left */
    padding: 50px 20px 50px 150px; /* Increase padding to move text (clockwise) */
    position: relative;
    z-index: 3; /* Ensure content is above background */
    font-family: $font-primary;

    h1,
    p {
      margin: 0.5rem 0;
      font-weight: bold;
    }

    h1 {
      font-size: 6.5rem;
    }

    .pre-title {
      margin-bottom: 0rem; /* Remove spacing between pretitle and title */
      margin-top: 4rem; /* Push the pretitle farther down */
      font-size: 3.5rem;
      font-weight: normal; /* Remove bold font */
    }

    // Style the app-button component within hero section
    app-button {
      margin-top: 2rem; // Space between button and title
      display: inline-block;
    }
  }
}
