@use "colors" as *;
@use "fonts" as *;
.definition-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $definition-background-white;
  padding: 5% 5%;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0 69px 19px 0 rgba(0, 0, 0, 0), 0 44px 18px 0 rgba(0, 0, 0, 0.01),
    0 25px 15px 0 rgba(0, 0, 0, 0.05), 0 11px 11px 0 rgba(0, 0, 0, 0.09),
    0 3px 6px 0 rgba(0, 0, 0, 0.1);
  width: 1000px;
  aspect-ratio: 4;
  box-sizing: border-box;
}

.top-row {
  display: flex;
  justify-content: center;
  gap: 23px;
}
.logo-box {
  .logo {
    height: auto;
    width: 48px;
  }
}

.title-box {
  display: flex;
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  font-size: $font-size-base-sm;
  gap: 7px;
  font-size: 40px;
  .title {
    color: $brand-color-black;
  }
  .bracket1 {
    color: $brand-color-primary;
  }
  .noun {
    color: $brand-color-black;
  }
  .bracket2 {
    color: $brand-color-primary;
  }
}

.bottom-row {
  font-size: 28px;
  .definition-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .definition {
    text-align: center;
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
  }
  .definition2 {
    text-align: center;
    margin-top: -20px;
  }
}
