<div class="definition-box-container">
  <div class="top-row">
    <div class="logo-box">
      <img
        src="images/definitionBoxLogo.svg"
        alt="Logo"
        class="logo"
        width="29.08"
        height="29.08"
      />
    </div>
    <div class="title-box">
      <div class="title">All Things Design</div>
      <div class="bracket1">[</div>
      <div class="noun">noun.</div>
      <div class="bracket2">]</div>
    </div>
  </div>
  <div class="bottom-row">
    <div class="definition-box">
      <p class="definition">
        "A student-led creative agency at UC Davis, specializing in<br />multi-disciplinary
        design."
      </p>
    </div>
  </div>
</div>
