<div class="container">
  <div class="title">Values</div>
  <div class="body">
    <div class="value">
      <img src="/images/values.svg" alt="Values" width="720.43" height="598" />
    </div>
    <div class="writings">
      <div class="icons">
        <div class="icon1">
          <img src="/images/icon1.svg" alt="icon1" width="38" height="36.62" />
        </div>
        <div class="icon2">
          <img src="/images/icon2.svg" alt="icon2" width="41" height="39.67" />
        </div>
        <div class="icon3">
          <img src="/images/icon3.svg" alt="icon3" width="46" height="43.74" />
        </div>
        <div class="icon4">
          <img
            src="/images/icon4.svg"
            alt="icon4"
            width="46.35"
            height="46.88"
          />
        </div>
        <div class="icon5">
          <img src="/images/icon5.svg" alt="icon5" width="35" height="37.64" />
        </div>
        <div class="icon6">
          <img src="/images/icon6.svg" alt="icon6" width="38" height="45.78" />
        </div>
      </div>
      <div class="words">
        <div class="words1">Move with Urgency</div>
        <div class="words2">Trust and Amplification</div>
        <div class="words3">The ATD Service</div>
        <div class="words4">Long-Term Optimization</div>
        <div class="words5">Positive Optimism</div>
        <div class="words6">Diligent Thinking</div>
      </div>
    </div>
  </div>
</div>

<br />
