<div class="hero-section">
  <!-- Desktop SVG Image -->
  <img
    src="backgrounds/hero-background.svg"
    alt="Hero Image"
    class="hero-image"
  />

  <!-- Mobile-specific SVG Image -->
  <img
    src="backgrounds/hero-background-mobile.svg"
    alt="Mobile Hero Image"
    class="hero-image-mobile"
  />

  <div class="hero-content">
    <p class="pre-title">We Are,</p>
    <h1>All Things Design</h1>
    <app-button
      label="Learn More"
      backgroundColor="#000000"
      textColor="white"
      borderColor="white"
      (buttonClick)="toggleAboutUs()"
    ></app-button>
  </div>
</div>
