.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Custom margins for spacing between components */
app-definition-box {
    margin-top: 100px; // Space above Definition Box
    margin-bottom: 150px; // Space below Definition Box
}

app-team-values-carousel {
    margin-bottom: 240px; // Space below Team Values Carousel
}

app-event-calender-box {
    margin-bottom: 200px; // Space below Event Calendar Box
    width: 100%;
}

app-what-we-offer {
    margin-bottom: 240px; // Space below What We Offer
}

app-contact-box {
    margin-bottom: 160px; // Space below Contact Box
}

app-faq-section {
    margin-bottom: 140px; // Space below FAQ Section
    width: 100%;
}