@use "src/colors" as *;
.footer {
  background-color: $brand-color-black;
  width: 1514px;
  padding: 1rem 6rem;
}
.footer p {
  margin: 0;
}
.container {
  display: flex;
  padding: 3rem 0;
  min-height: 191px;
  margin-top: 1rem;
}
.title {
  flex: 1;
}
.header {
  font-size: 36px;
  color: white;
}
.link-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.link {
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.contact-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.contact-des {
  font-size: 16;
  color: white;
}
.contact-button {
  width: 10rem;
  height: auto;
  padding: 1rem 5rem;
  background-color: $contact-button-grey;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
}
.footer-bottom {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.copyright {
  font-size: 12px;
  color: rgb(255, 255, 255, 80%);
}
.social-icons {
  display: flex;
  gap: 0.5rem;
}

.social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.credit {
  color: white;
  font-size: 12px;
  opacity: 0.6;
}
