<div class="footer">
  <div class="container">
    <div class="title">
      <p class="header">
        All Things<br />
        Design
      </p>
    </div>
    <div class="link-list">
      <div *ngFor="let link of navLinks" class="link">
        {{ link.label }}
      </div>
    </div>
    <div class="contact-section">
      <p class="header">Have a Project for Us?</p>
      <p class="contact-des">
        We help businesses and orgs stay modern in the<br />
        new age.
      </p>
      <div></div>
      <a class="contact-button"> Contact Us </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="copyright">©All Things Design. All Rights Reserved.</p>
    <div class="credit">Site by Hanyi Liu | Cody Chen | Sanjith Iype</div>
    <div class="social-icons">
      <a href="https://instagram.com" aria-label="Instagram">
        <img src="images/insta.svg" alt="Insta" />
      </a>
      <a href="https://linkedin.com" aria-label="LinkedIn">
        <img src="images/linkedin.svg" alt="LinkedIn" />
      </a>
      <a href="https://tiktok.com" aria-label="TikTok">
        <img src="images/tiktok.svg" alt="Tiktok" />
      </a>
    </div>
  </div>
</div>
