@use "colors" as *;
@use "fonts" as *;
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  width: 100%; // Changed from fixed 1303px to responsive 100%
  aspect-ratio: 2.25; // Maintain aspect ratio;
  margin: auto;
  background-color: $brand-color-black;
  box-sizing: border-box; // Ensure padding is included in width
}

.title-box {
  display: flex;
  color: $brand-color-white;
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  gap: 20px;
  padding: 20px 0 0 0;
}
.left-dot {
  padding: 2px 0 0 0;
}
.right-dot {
  padding: 2px 0 0 0;
}

.description-box {
  display: flex;
  flex-direction: column;
  color: $brand-color-white;
  padding: 15px 0 30px 0;
  font-family: $font-secondary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //gap: 5px;
}

input[type="email"] {
  width: 35%;
  height: 45px;
  padding: 0 0 0 12px;
  margin: 0;
  border: 1px solid $brand-color-white;
  font-family: $font-secondary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
}

button {
  width: 39px;
  height: 45px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $brand-color-white;
  background-color: $brand-color-black;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.logo-box,
.title-box,
.description-box,
.left-dot,
.right-dot {
  display: flex;
  justify-content: center;
  align-items: center;
}
