@use "src/styles/fonts" as *;
.button-wrapper button {
  color: var(--text-color);
  padding: 8px 16px;
  border: 2px solid var(--border-color);
  cursor: pointer;
  border-radius: 30px;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  font-family: $font-primary;
  background-color: var(--bg-color);
}
