@use "src/styles/colors" as *;

.toggle-switch {
  position: relative;
  display: flex;
  border: 1px solid $brand-color-black;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
  height: 65px;
  aspect-ratio: 8/1;
}

.toggle-switch button {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1;
  font-weight: bold;
  font-size: 30px;
  color: $brand-color-black;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-switch button.selected {
  color: $brand-color-white;
}

.highlight {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  background-color: $brand-color-primary;
  transition: left 0.3s;
  border-radius: 10px;
}

.toggle-switch.students .highlight {
  left: calc(50% + 5px);
}
