<div class="container">
  <div class="team-wrapper">
    <div class="header">
      <div class="header-logo">
        <img
          src="icons/person.svg"
          alt="Header Logo"
          width="27"
          height="35.6"
        />
      </div>
      <div class="intro-title">Meet the Board</div>
    </div>
    <div class="VP">
      <!-- <div class="VP-title">VP Board</div> -->
      <div class="vp-grid">
        <app-member-component
          *ngFor="let member of members"
          [member]="member"
        ></app-member-component>
      </div>
    </div>
  </div>
</div>
