
@use "fonts" as *;
@use "colors" as *;
@use "breakpoints" as *;

.member-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center; /* Centers the item in its grid cell */
  width: 100%;
  max-width: 243px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  width: 100%;

  @include respond-to('mobile') {
    gap: 2px;
  }
}

.picture {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 243px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;

    @include respond-to('tablet') {
      max-width: 180px;
    }

    @include respond-to('mobile') {
      max-width: 300px;
    }
  }
}

.title {
  font-family: $font-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;

  @include respond-to('tablet') {
    font-size: $font-size-xs;
  }

  @include respond-to('mobile') {
    font-size: $font-size-xs;
  }
}

.name {
  font-family: $font-primary;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;

  @include respond-to('tablet') {
    font-size: $font-size-xxs;
  }

  @include respond-to('mobile') {
    font-size: $font-size-xs;
  }
}
