<div class="values-wrapper">
  <img src="images/team-values-carousel-background.svg" alt="" class="background-image" />
  <div class="values-container">
    <div class="text-content">
      <div class="line-one">As a team we are</div>
      <div class="line-two">
        <span class="rotating-words">
          <span>creative.</span>
          <span>collaborative.</span>
          <span>dedicated.</span>
        </span>
      </div>
    </div>
    <img src="images/brand-logo-white.svg" alt="Logo" class="logo" />
  </div>
</div>