<div class="our-works-container">
  <div class="text">
    Our Works
  </div>
  <div class="background-pictures">
    <div class="top">
      <img
        src="images/Frame9.svg"
        class="img-1"
        alt="Member Image"
      />
      <img
        src="images/Frame10.svg"
        class="img-2"
        alt="Member Image"
      />
      <img
        src="images/Frame13.svg"
        class="img-3"
        alt="Member Image"
      />
    </div>
    <div class="bottom">
      <div class="image4">
        <img
          src="images/Frame11.svg"
          class="img-4"
          alt="Member Image"
        />
      </div>
      <div class="image5">
        <img
          src="images/Frame12.svg"
          class="img-5"
          alt="Member Image"
        />
      </div>
      <div class="image6">
        <img
          src="images/Frame14.svg"
          class="img-6"
          alt="Member Image"
        />
      </div>
    </div>
  </div>
</div>
