<div class="our-works-container">
  <div class="text">Our Works</div>
  <div class="background-pictures">
    <div class="top">
      <img [src]="frame9" class="img-1" alt="Member Image" />
      <img [src]="frame10" class="img-2" alt="Member Image" />
      <img [src]="frame13" class="img-3" alt="Member Image" />
    </div>
    <div class="bottom">
      <div class="image4">
        <img [src]="frame11" class="img-4" alt="Member Image" />
      </div>
      <div class="image5">
        <img [src]="frame12" class="img-5" alt="Member Image" />
      </div>
      <div class="image6">
        <img [src]="frame14" class="img-6" alt="Member Image" />
      </div>
    </div>
  </div>
</div>
