@use "colors" as *;
@use "fonts" as *;
@use "breakpoints" as *;
.our-works-container {
  width: 100%;
  position: relative;
  overflow: visible;
}

.text {
  position: relative;
  top: 80px;
  left: 0;
  z-index: 10;
  font-family: $font-primary;
  font-size: $font-size-xxl;
  font-weight: $font-weight-bolder;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 80%,
    rgba(255, 255, 255, 0) 100%
  );

  @include respond-to("tablet") {
    font-size: calc($font-size-xl + 0.5rem);
    top: 50px;
    left: 0;
  }

  @include respond-to("mobile") {
    font-size: $font-size-xl;
    top: 20px;
    left: 0;
    text-align: center;
    text-shadow: none;
    margin-bottom: 30px; // or adjust as needed for desired spacing
  }
}

.background-container {
  @include respond-to("mobile") {
    align-items: center;
  }
}

.background-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 15px 15px 15px 30px;
  @include respond-to("tablet") {
    padding: 10px 10px 10px 20px;
  }
  
  @include respond-to("mobile") {
    padding: 10px;
  }
  
  .our-works-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
