<div class="our-works-container">
  <div
    class="text"
    style="
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.6) 40%,
        rgba(255, 255, 255, 0.2) 80%,
        rgba(255, 255, 255, 0) 100%
      );
      color: black;
    "
  >
    Our Works
  </div>
  <div class="background-pictures">
    <div class="top">
      <img
        src="images/Frame9.svg"
        width="313"
        height="256"
        alt="Member Image"
      />
      <img
        src="images/Frame10.svg"
        width="424"
        height="346"
        alt="Member Image"
      />
      <img
        src="images/Frame13.svg"
        width="313"
        height="346"
        alt="Member Image"
      />
    </div>
    <div class="bottom">
      <div class="image4">
        <img
          src="images/Frame11.svg"
          width="313"
          height="256"
          alt="Member Image"
        />
      </div>
      <div class="image5">
        <img
          src="images/Frame12.svg"
          width="185"
          height="176"
          alt="Member Image"
        />
      </div>
      <div class="image6">
        <img
          src="images/Frame14.svg"
          width="551"
          height="176"
          alt="Member Image"
        />
      </div>
    </div>
  </div>
</div>
