@use "breakpoints" as *;

.about-us-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-about-us-header {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;

  @include respond-to('tablet') {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  @include respond-to('mobile') {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

app-info-section {
  margin-bottom: 150px;
  width: 80%;

  @include respond-to('tablet') {
    margin-bottom: 120px;
  }

  @include respond-to('mobile') {
    margin-bottom: 80px;
    width: 100%;
  }
}

app-values-section {
  margin-bottom: 120px;
  width: 80%;

  @include respond-to('tablet') {
    margin-bottom: 100px;
  }

  @include respond-to('mobile') {
    margin-bottom: 0px;
    width: 100%;
  }
}

app-video-section {
  margin-top: 100px;
  width: 80%;

  @include respond-to('tablet') {
    margin-top: 80px;
  }

  @include respond-to('mobile') {
    margin-top: 60px;
  }
}

app-team-component {
  margin-top: 300px;
  margin-bottom: 500px;
  width: 100%;

  @include respond-to('tablet') {
    margin-top: 200px;
    margin-bottom: 300px;
  }

  @include respond-to('mobile') {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}
