$font-primary: "Urbanist", sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 800;

$font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-sm: 20px;
$font-size-base-sm: 28px;
$font-size-base: 30px;
$font-size-lg: 40px;
$font-size-xl: 48px;
$font-size-xxl: 80px;

$font-size-header-xs: 25px;
$font-size-header-sm: 36px;
$font-size-header-base: 70px;
$font-size-header-lg: 80px;
