@use "src/styles/colors" as *;
@use "src/styles/fonts" as *;

.video-section-container {
  background-color: black;
  width: 1304px;
  height: 611px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-family: $font-primary;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $brand-color-white;
}
