<div class="container">
  <div class="title">
    <div class="title-content">
      <div class="value-text">
        <span>Value</span>
      </div>
      <div class="logo">
        <img src="/logos/logo-white-large.svg" alt="ATD Logo" />
      </div>
    </div>
  </div>
  <div class="body">
    <div class="value">
      <img src="/images/values.png" alt="Values" />
    </div>
    <div class="writings">
      <div class="icons">
        <div class="icon1">
          <img src="/icons/alarm.svg" alt="icon1" />
        </div>
        <div class="icon2">
          <img src="/icons/handshake.svg" alt="icon2" />
        </div>
        <div class="icon3">
          <img src="/icons/fix.svg" alt="icon3" />
        </div>
        <div class="icon4">
          <img src="/icons/time.svg" alt="icon4" />
        </div>
        <div class="icon5">
          <img src="/icons/smile.svg" alt="icon5" />
        </div>
        <div class="icon6">
          <img src="/icons/head.svg" alt="icon6" />
        </div>
      </div>
      <div class="words">
        <div class="words1">Move with Urgency</div>
        <div class="words2">Trust and Amplification</div>
        <div class="words3">The ATD Service</div>
        <div class="words4">Long-Term Optimization</div>
        <div class="words5">Positive Optimism</div>
        <div class="words6">Diligent Thinking</div>
      </div>
    </div>
  </div>
</div>

<br />
