@use "fonts" as *;
@use "colors" as *;
@use "breakpoints" as *;
.title {
    font-family: $font-primary;
    font-weight: $font-weight-bolder;
    font-size: $font-size-header-base;
    color: $brand-color-white;
    margin-bottom: 1rem;
    
    @include respond-to('tablet') {
        font-size: calc($font-size-xxl + 0.5rem); /* Reduced size for tablets */
        text-align: center; /* Center body text on mobile */
    }
    
    @include respond-to('mobile') {
        font-size: $font-size-xl; /* Smaller size for mobile */
        margin-bottom: 0.75rem;
        text-align: center; /* Center title text on mobile */
    }
}

.body {
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    color: $brand-color-white;
    line-height: 1.5;
    
    @include respond-to('tablet') {
        font-size: $font-size-base-sm;
        text-align: center; /* Center body text on mobile */
    }
    
    @include respond-to('mobile') {
        font-size: $font-size-xxs;
        text-align: center; /* Center body text on mobile */
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    aspect-ratio: 3;
    
    @include respond-to('mobile') {
        align-items: center; /* Center container items on mobile */
    }
}
